@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



article {
    img {
        position: relative;
        margin: 2vh;
        width: 90%;
    }

    background-color: #69b00b;
    width: 20%;
    border-radius: 10px;
}

section{
    width: 100%;
}

.article_list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    gap:2vh;
}

li {
    margin-bottom: 2vh;
}

li p {
    margin: 0 2vh 0 2vh;
}

p {
    margin: 0 0 2vh 0;
}

body { 
    font-family: 'Space Mono', monospace; 
    line-height: 1.6;
    background-color: #432E54;
    color: #E8BCB9;
    max-width: 800px;
    padding: 32px;
    margin: 60px auto;
}

a {
    color: #AE445A;
    margin: 0 2vh 2vh 2vh;
}

h1 {
    margin: 0;
}